{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Yellow Cow Digitális marketing ahogy még sosem láttad</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="PPC kampányok digitális térben email marketing adatvezérelt landing page keszites közösségi media" name="keywords">
  <meta content="PPC kampányok digitális térben email marketing adatvezérelt landing page keszites közösségi media" name="description">

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>


  <!-- Main Stylesheet File -->
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

  </head>
  <body>

    <h3 class="title"><a href="{% url 'index' %}">Vissza</a></h3>
     <form class="form">
        <h2>Írd le, miben segíthetünk:</h2>
        <p type=""><input placeholder="Neved"></input></p>
        <p type=""><input placeholder="Email -címed"></input></p>
        <p type=""><input placeholder="Üzeneted"></input></p>

      <button>Küldés</button>

    </form>
  </body>
</html>

              ==========================
                Services Section
              ============================
              <section id="services2">
                <div class="container">
                  <div class="section-header">
                    <h2>Hogyan dolgozunk</h2>
                    <p></p>
                  </div>

                  <div class="row">

                    <div class="col-lg-6">
                      <div class="">
                        <h4 class="title"><a href=""></a></h4>
                        <p class="description"></p>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="box wow">
                        <h4 class="title">1 Beszélgetünk</h4>
                        <p class="description">Megismerjük céljaid és meghatározzuk merre szeretne céged tartani</p>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="box wow">
                        <h4 class="title">2 Adatokat elmezünk</h4>
                        <p class="description">Piacodat felmérjük adatok segítségével megismerjük vásárlóidat.</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="box wow">
                        <h4 class="title">3 Kidolgozzuk a tervet</h4>
                        <p class="description">Az adatok és céljaid figyelmbevételével megalkotjuk a győztes tervet.</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="box wow">
                        <h4 class="title">4 Megvalósítjuk</h4>
                        <p class="description">Végigvisszük a tervet szorosan együttmüködve a cégeddel.</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="box wow">
                        <h4 class="title">5 Elemzünk</h4>
                        <p class="description">Az eredményeket feldolgozzuk, új lehetőségeket keresünk és segítünk a következő szintre lépni.</p>
                      </div>
                    </div>

                  </div>
                </div>
              </section><!-- #services -->
